body{
    background-color: #222222;
}

body:before {
    display: block;
    padding-top: 100%; /*para una relación 1:1*/
    padding-left: 100%;
}

.ImgProject img{
    margin-top: -140px;
    margin-left:350px;
    width: 90px;
    border-radius: 250px;
}
.text-circle{
    margin-top: -190px;
    font-size: 35px;
}

.TitleProject p{
    margin-left: 60px;
    font-size: 12rem;
    color: rgba(255,255,255, 0.5);
}

.BugsProject{
    margin-top: 40px;
    text-align: center;
}

.BugsProject p{
    font-size: 40px;
    color: rgba(0,0,0, 0.5);
}
.BugsProject span{
    font-size: 50px;
    color: rgba(0,0,0, 0.5);
}
.bugs{
    padding-left: 15%;
}
.bugscontent{
    margin-top: 75px;
    height: 220px;
    width: 220px;
    background-color: #e7e7e7;
    border-radius: 150px 150px;
}

.ProgressProject{
    margin-top: -6%;
    background-color: transparent;
}
.ProgressProjecttwo{
    float: inherit;
    margin-top:6%;
    background-color: transparent;
}
.DaysAll p{
    font-size: 20px;
    text-align: center;
    color: rgba(255,255,255, 0.5);
}
.slider-carousel{
    margin-top: 2%;
}
.bar{
    height: 90px;
}
.barr{
    height: 120px;
    background-color: transparent;
}
.indicador{
    margin-top: 3%;
}
.CantBugs{
    text-align: center;
}

.indicadorver{
    margin-left: -45px;
    margin-top: 95px;
    position: fixed;
}
.text-inicio{
    margin-top: -70px;
    margin-left: 5px;
    color: #e7e7e7;
}
#diainicio{
    font-size: 35px;
}
#mesinicio{
    margin-top: 10px;
    font-size: 25px;
}
.indicadornar{
    position:absolute;
    margin-left:-40px;
    margin-top: -100px;
}
.text-reto{
    margin-top:-75px;
    color: rgba(0,0, 0, 0.7);
}
#diareto {
    font-size: 35px;
}
#mesreto{
    margin-top: 5px;
    font-size: 25px;
}
.indicadorro{
    float: right;
    margin-right:-40px;
    margin-top: -15px;
}
.text-fin{
    margin-top:-80px;
    color: #e7e7e7;
    text-align: center;
}
#diafin{
    font-size: 35px;
}
#mesfin{
    font-size: 25px;
    margin-top: -15px;
}
.circle-bar{
    padding-left:15%;
    margin-top: 5%;
}
.dayprogress{
    margin-top: 30px;
    font-size: 35px;
}
.barprogress{
    margin-bottom: 25px;
}
.container-fluidtwo {
    padding-right: 75px;
    padding-left: 75px;
    margin-right: auto;
    margin-left: auto;
}
.slider-carousel{
    margin-top: 5%
}

@media screen and (min-width: 1450px){
    .ImgProject img{
        margin-left: 20%;
        margin-top: -115px;
    }
    .TitleProject p{
        margin-left: 60px;
        font-size: 9rem;
        color: rgba(255,255,255, 0.5);
    }
}
@media screen and (max-width:1366px){
    .ImgProject img{
        margin-top: -115px;
        margin-left:150px;
        width: 90px;
        border-radius: 250px;
    }
    .TitleProject p{
        margin-left: 60px;
        font-size: 9rem;
        color: rgba(255,255,255, 0.5);
    }
    .ProgressProject{
        margin-top: -9.8%;
    }
    .ProgressProjecttwo{
        margin-top:7%;
    }
    .slider-carousel{
        margin-top: 0%;
    }


}
@media screen and (max-width:1200px){
    body{
        height: 100%;
        width: 100%;
    }
    .ImgProject img{
        margin-top: -115px;
        margin-left:150px;
        width: 90px;
        border-radius: 250px;
    }
    .TitleProject p{
        margin-left: 60px;
        font-size: 9rem;
        color: rgba(255,255,255, 0.5);
    }
    .ProgressProject{
        margin-top: -9.8%;
    }
    .ProgressProjecttwo{
        margin-top:7%;
    }
    .slider-carousel{
        margin-top: 0%;
    }
    .circle-bar{
        padding-left:15%;
        margin-top: 0%;
    }
    .bugs{
        margin-top: -6%;
        padding-left:60%;
    }
    .barprogress{
        margin-bottom: 9%;
    }

}
@media screen and (max-width: 1200px) {
    .ImgProject img{
        margin-top: -110px;
        margin-left:10%;
        width: 90px;
        border-radius: 250px;
    }
    .TitleProject p{
        margin-left: 10%;
        font-size: 8rem;
        color: rgba(255,255,255, 0.5);
    }
    .ProgressProject{
        margin-top: -11%;
    }
    .ProgressProjecttwo{
        margin-top:7%;
    }

}

@media screen and (max-width: 1000px) {
    .ImgProject img{
        margin-left:5%;
    }
    .TitleProject p{
        margin-left: 90px;
        font-size: 8rem;
    }
    .ProgressProject{
        margin-top: -15%;
    }
    .ProgressProjecttwo{
        margin-top:7%;
    }
    .slider-carousel{
        margin-top: 0%;
    }
    .circle-bar{
        padding-left:15%;
        margin-top: 0%;
    }
    .bugs{
        margin-top: -8%;
        padding-left:60%;
    }
    .barprogress{
        margin-bottom: 12%;
    }

}

@media screen and (max-width: 800px) {

    .ImgProject img{
        margin-top: -210px;
        width: 190px;
        margin-left:12%;
    }
    .TitleProject p{
        margin-left: 290px;
        font-size: 8rem;
    }
    .ProgressProject{
        margin-top: -17%;
    }
    .ProgressProjecttwo{
        margin-top:15%;
    }
    .slider-carousel{
        margin-top: 0%;
    }
    .circle-bar{
        padding-left:15%;
        margin-top: 0%;
    }
    .bugs{
        margin-top: -8%;
        padding-left:60%;
    }
    .barprogress{
        margin-bottom: 12%;
    }

}

@media screen and (max-width: 700px) {
    .ImgProject img{
        margin-top:0%;
        width: 190px;
        margin-right: 10%;
    }
    .ImgProject{
        text-align: center;
    }
    .TitleProject p{
        font-size: 8rem;
        margin-left: 0%;
    }
    .ProgressProject{
        margin-top: -22%;
    }
    .ProgressProjecttwo{
        margin-top:18%;
    }
    .barprogress{
        margin-bottom: 15%;
    }
    .circle-bar{
        padding-left:8%;
        margin-top: 0%;
    }
    .bugs{
        margin-top: -10%;
        padding-left:60%;
    }
}
