body{
    background-color: #222222;
}
.ImgProject img{
    float: right;
    margin-right: -70px;
    width: 80px;
    margin-top: 10px;
    border-radius: 250px;
}
.text-circle{
    margin-top: -190px;
    font-size: 35px;
}
.TitleProject{
    margin-left: -50px;
}
.TitleProject p{
    font-size: 8rem;
    color: rgba(255,255,255, 0.5);
    margin-top: -10px;
}

.BugsProject{
    margin-top: 40px;
}

.BugsProject p{
    font-size: 40px;
    color: rgba(0,0,0, 0.5);
}
.BugsProject span{
    font-size: 50px;
    color: rgba(0,0,0, 0.5);
}
.bugscontent{
    margin-top: 75px;
    height: 220px;
    width: 220px;
    text-align: center;
    background-color: #e7e7e7;
    border-radius: 150px 150px;

}

.ProgressProject{
    margin-top: 6%;
    background-color: transparent;
}
.DaysAll p{
    font-size: 20px;
    text-align: center;
    color: rgba(255,255,255, 0.5);
}
.slider-carousel{
    margin-top: 2%;
}
.bar{
    height: 90px;
}
.barr{
    height: 120px;
    background-color: transparent;
}
.indicador{
    margin-top: 3%;
}
.CantBugs{
    text-align: center;
}

.indicadorver{
    margin-left: -45px;
    margin-top: 95px;
    position: fixed;
}
.text-inicio{
    margin-top: -70px;
    margin-left: 5px;
    color: #e7e7e7;
}
#diainicio{
    font-size: 35px;
}
#mesinicio{
    font-size: 25px;
}
.indicadornar{
    position:absolute;
    margin-left:-40px;
    margin-top: -100px;
}
.text-reto{
    margin-top:-70px;
    color: rgba(0,0, 0, 0.7);
}
#diareto {
    font-size: 35px;
}
#mesreto{
    font-size: 25px;
}
.indicadorro{
    float: right;
    margin-right:-40px;
    margin-top: -15px;
}
.text-fin{
    margin-top:-80px;
    color: #e7e7e7;
    text-align: center;
}
#diafin{
    font-size: 35px;
}
#mesfin{
    font-size: 25px;
    margin-top: -20px;
}
.circle-bar{
    margin-left: 20%;
    margin-top: 5%;
}
.dayprogress{
    margin-top: 30px;
    font-size: 35px;
}
.barprogress{
    margin-bottom: 25px;
}
